<h2>
  <span>next</span>
  <span><%= mark(@next) %></span>
</h2>
<div>
  <button phx-click="clear">clear</button>
</div>

<table>
  <tbody>
    <%= (0..2) |> Enum.map fn row -> %>
      <tr>
        <%= (0..2) |> Enum.map fn col -> %>
          <% cell_number = row * 3 + col %>
          <td><div class="cell" phx-click="put" phx-value-cell="<%= cell_number %>"><%= mark(@cells[cell_number]) %></div></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
